/* Custom styles for classes in OLYMPUS */

.AlbumArt {
	width: 100%;
	height: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 1;
}

.AlbumBackground {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	overflow: hidden;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	opacity: 0.5;
	z-index: 0;
}

.CenteredDiv {
	display: flex;
	position: absolute;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

.ControlBar {
	height: 10mm;
	background-color: #224099;
}

.ControlBar>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.LeftBar {
	float: left;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	z-index: 1;
}

.MiddleBar {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	z-index: 1;
}

.RateSection {
	width: 50%;
	height: 50%;
	margin: 5mm;
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	z-index: 2;
}

.RightBar {
	float: right;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	z-index: 1;
}

.TrackMarquee {
	width: 100%;
	font-size: 1.25em;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05));
	background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05));
	padding: 2mm;
	position: absolute;
	bottom: 0;
	z-index: 2;
}

.TrackView {
	width: 100%;
	height: 20%;
	min-height: 20%;
	max-height: 20%;
	position: relative;
	overflow: hidden;
}


/* Styling for specific elements */

#artworkMain {
	-webkit-filter: drop-shadow(0px 0px 20px 20px);
	filter: drop-shadow(0px 0px 20px 20px);
}

#artworkBG {}

#volumeSlider {
	width: 10mm;
}
