/* Styling for specific elements */

#loginError {
	color: red;
	opacity: 0;
}

#loginList {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#loginList > * {
	margin: 2mm;
}
