/* Core HTML element styles */

html, body {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

body {
	color: white;
	font-family: Arial !important;
	background-color: #0E77CC;
	margin: 0mm;
	padding: 0mm;
}

input {
	text-align: center;
	border-color: transparent;
	padding: 2mm
}

input[type="text"],
input[type="email"],
input[type="password"] {
	color: white;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 100mm;
}

input[type="button"],
input[type="submit"] {
	color: #0E77CC;
	background: white;
	border-radius: 1mm;
	cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover {
	padding-left: 3mm;
	padding-right: 3mm;
}

input[type="range"],
.input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 2mm;
  height: 0.1mm;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: white;
	width: 5mm;
	height: 5mm;
	border-radius: 10mm;
	cursor: pointer;
}


/* Preventing OS outlines on elements */

:focus {
	outline: transparent;
}


/* Adjusting placeholder text color */

::placeholder {
	color: white;
	opacity: 0.75;
}

::-webkit-input-placeholder {
	color: white;
	opacity: 0.75;
}


/* Custom styles for classes in OLYMPUS */

.CenteredDiv {
	display: flex;
	position: absolute;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}
